Electronic
1) Rpi b/b+
2) resistance ~750omh x2 (for diods KTIR0411S)
3) resistance ~200omh x2 (for receiver KTIR0411S)
4) a4988
5) connectors (for power, a4988, wires, etc)
6) stepper (12v / 10-15W is better)
